@model ProjectTeamVitAspDotNetCore.Models.Dim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="padding-left:20px;padding-bottom:20px"> Dim Details</h4>

<div class="container bg-white">
    <hr />
    <div class="mt-4" style="margin-left:60px">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimCrt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimCrt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimPcs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimPcs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimGm)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimGm)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimRate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimAmt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimAmt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Certify)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Certify)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DimSize)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DimSize)
            </dd>
        </dl>
    </div>

    <div class="col-lg-12">
        <div class="row pb-3">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success float-right">
                    <a asp-action="Edit" asp-route-id="@Model.DimId" style="color:white">Edit</a>
                </button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-danger">
                    <a asp-action="Index" style="color:white">Back to List</a>
                </button>
            </div>
        </div>
    </div>

</div>

