@model ProjectTeamVitAspDotNetCore.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content pb-3">
    <div class="container-fluid h-100">
        <div class="card card-row card-secondary">
            <div class="card-header">
                <div style="text-align:center">
                    <h2> @Html.DisplayFor(model => model.Id)</h2>
                </div>
            </div>
            <div class="card-body">

                <dl class="row">
                    <dt class="col-sm-2">
                        List Orders:
                    </dt>
                    <dd class="col-sm-10">
                        @foreach (var product in ViewBag.products)
                        {
                            <span>@product.Name &nbsp;&nbsp;</span>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Name Customer:
                    </dt>
                    <dd class="col-sm-10">
                        $ @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        Address:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        Phone:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        Gender:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        Birthday:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Birthday)
                    </dd>
                    <dt class="col-sm-2">
                        Zip code :
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        Total Price:
                    </dt>
                    <dd class="col-sm-10">
                        @ViewBag.total
                    </dd>
                    <dt class="col-sm-2">
                        Status:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
                <form asp-controller="Order" asp-action="Edit" method="post">
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" asp-for="Status" value="True" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3">Confirm order completion and email the customer</label>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <input type="hidden" asp-for="CreateTime" class="form-control" />
                    <input type="hidden" asp-for="Name" class="form-control" />
                    <input type="hidden" asp-for="Birthday" class="form-control" />
                    <input type="hidden" asp-for="ZipCode" class="form-control" />
                    <input type="hidden" asp-for="Gender" class="form-control" />
                    <input type="hidden" asp-for="Address" class="form-control" />
                    <input type="hidden" asp-for="Phone" class="form-control" />
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Status" />
                    @ViewBag.msg
                    <div class="form-group">
                        @if (@ViewBag.status == true)
                        {
                            <input type="submit" value="unfinished " class="btn btn-primary" />
                        }
                        @if (@ViewBag.status == false)
                        {
                            <input type="submit" value="Done" class="btn btn-primary" />
                        }
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>




    <a asp-action="Index" class="btn btn-success">Back to List</a>


