@model ProjectTeamVitAspDotNetCore.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="padding-left:20px">Order details</h4>

<div class="container bg-white">
    <hr />
    <div class="mt-4" style="margin-left:60px">
        <dl class="row">
            <dt class="col-sm-2">
                Create Time:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateTime)
            </dd>

            <dt class="col-sm-2">
                Customer:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Address:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                Birthday:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt class="col-sm-2">
                Gender:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                Phone:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                Zip Code:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-2">
                Status:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                List Produt:
            </dt>
            <dd class="col-sm-10">
                @foreach (var product in ViewBag.products)
                {
    <span>@product.Name &nbsp;&nbsp;</span>}
            </dd>
            <dt class="col-sm-2">
                Total Pridce:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.total
            </dd>
        </dl>

        <div class="col-lg-12">
            <form asp-controller="Order" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="CreateTime" class="form-control" />
                <input type="hidden" asp-for="Name" class="form-control" />
                <input type="hidden" asp-for="Birthday" class="form-control" />
                <input type="hidden" asp-for="ZipCode" class="form-control" />
                <input type="hidden" asp-for="Gender" class="form-control" />
                <input type="hidden" asp-for="Address" class="form-control" />
                <input type="hidden" asp-for="Phone" class="form-control" />
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Status" />

                @ViewBag.msg
            <div class="row">
                <div class="form-group col-lg-6">
                    @if (@ViewBag.status == true)
                    {
                          <input type="submit" value="unfinished " class="btn btn-success float-right" />}
                    @if (@ViewBag.status == false)
                    {
                         <input type="submit" value="Done" class="btn btn-primary float-right" />}
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-danger">
                        <a asp-action="Index" style="color:white">Back to List</a>
                    </button>
                </div>
            </div>
                
            </form>
        </div>
    </div>
    

</div>

