@model Project.Models.ItemMst

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemMst</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pairs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pairs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetGold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetGold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WstgPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WstgPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wstg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wstg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotGrossWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotGrossWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldMaking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldMaking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneMaking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneMaking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherMaking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherMaking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotMaking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotMaking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certify.CertifyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldType.GoldTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prod.ProdId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StyleCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
