@model IEnumerable<Project.Models.ItemMst>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pairs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldWt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoneWt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetGold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WstgPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wstg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotGrossWt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldMaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoneMaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherMaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotMaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mrp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pairs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldWt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoneWt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetGold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WstgPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wstg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotGrossWt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldMaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoneMaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherMaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotMaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mrp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.CatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certify.CertifyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldType.GoldTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod.ProdId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StyleCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StyleCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StyleCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
