<environment>
    <link href="~/css/lockets.css" rel="stylesheet" />
</environment>

@{ ViewData["Title"] = "Bracelets";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@model PaginatedList<ProjectTeamVitAspDotNetCore.Models.Product>
<section class="col-xs-12 col-md-12">

    <!--Phần này là form search-->
    <form asp-controller="Product" asp-action="Lockets">
        <input type="text" name="searchString" />
        <input type="submit" value="Search" />
        <a asp-controller="Product" asp-action="Lockets">All</a>
    </form>



    <!--Phần này là form filter-->
    <form asp-controller="Product" asp-action="Lockets">
        <select name="color">
            <option value="">Color</option>
            @foreach (Color color in ViewBag.colors)
            {

                <option value="@color.ColorId">@color.Name</option>
            }
        </select>
        <select name="brand">
            <option value="">Brand</option>
            @foreach (Brand brand in ViewBag.brands)
            {

                <option value="@brand.BrandId">@brand.BrandName</option>
            }
        </select>
        <select name="dim">
            <option value="">Diamond</option>
            @foreach (Dim dim in ViewBag.dims)
            {

                <option value="@dim.DimId">@dim.Name</option>
            }
        </select>
        <select name="stone">
            <option value="">Stone</option>
            @foreach (Stone stone in ViewBag.stones)
            {

                <option value="@stone.StoneId">@stone.Name</option>
            }
        </select>
        <select name="metal">
            <option value="">Metal</option>
            @foreach (Metal metal in ViewBag.metals)
            {

                <option value="@metal.MetalId">@metal.Name</option>
            }
        </select>
        <input type="submit" value="Filter" />
    </form>





    <!--Phần này là chỗ sắp xếp sản phẩm theo giá-->
    @if (ViewBag.order == "price")
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex"><i class="fas fa-sort-up">Price</i></a>
    }
    else if (ViewBag.order == "price_desc")
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex"><i class="fas fa-sort-down">Price</i></a>
    }
    else
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex"><i class="fas fa-sort">Price</i></a>
    }


</section>


<section class="col-xs-12 col-md-12">


    <div class="products_filter-show d-flex flex-row flex-wrap justify-content-center align-content-center col-xs-12 col-md-12">
        @foreach (var item in Model)
        {
            <div class="product col-xs-3 col-md-3">
                <div class="d-flex text-center align-items-center justify-content-center">
                    <a class="p-3 col-xs-12 col-md-12" asp-controller="Product" asp-action="Product_detail" asp-route-id="@item.PdId">

                        <div class="text-center">

                            <img src="~/Images/@item.Image" width="375" height="375" />

                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h3>
                            <span>
                                $@Html.DisplayFor(modelItem => item.Price)
                            </span>
                        </div>
                    </a>
                </div>
            </div>}
    </div>

    <!--Phần này là form phân trang-->

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Lockets"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentColor="@ViewData["Color"]"
       asp-route-currentMetal="@ViewData["Metal"]"
       asp-route-currentBrand="@ViewData["Brand"]"
       asp-route-currentDim="@ViewData["Dim"]"
       asp-route-currentStone="@ViewData["Stone"]"
       class="btn-info btn btn-default @prevDisabled">
        Previous
    </a>

    @{
        double n = ViewBag.Count;
        double s = ViewBag.pageSize;
        double sn = Math.Ceiling(n / s);

        for (int i = 1; i <= sn; i++)
        {
            if (Model.PageIndex == i)
            {
                <a class="active btn btn-default btn-info">@i</a>
            }
            else
            {
                <a class="btn btn-default btn-info" asp-action="Lockets" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@i">@i</a>
            }
        }
    }

    <a asp-action="Lockets"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentColor="@ViewData["Color"]"
       asp-route-currentMetal="@ViewData["Metal"]"
       asp-route-currentBrand="@ViewData["Brand"]"
       asp-route-currentDim="@ViewData["Dim"]"
       asp-route-currentStone="@ViewData["Stone"]"
       class="btn-info btn btn-default @nextDisabled">
        Next
    </a>


</section>