<environment>
    <link href="~/css/lockets.css" rel="stylesheet" />
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskRegular.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskLight.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/BetterSignature.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskBold.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/engraving-fonts/BaskervilleBoldItalicBT.woff" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

</environment>

@{ ViewData["Title"] = "Bracelets";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@model PaginatedList<ProjectTeamVitAspDotNetCore.Models.Product>

        <div class="reskin category-introblock lockets" style="margin-top:90px">
            <div class="contentt">
                <h1>Lockets</h1>
                <p>
                    Personalising an engravable photo locket for free couldn't be simpler: upload your favourite image, and add a message to engrave, then we'll take care of the rest. The ultimate way to refresh your memories,
                    a personalised photo locket makes for the perfect gift to treasure.
                </p>
                <p>Also explore: 
                    <a asp-controller="Product" asp-action="Lockets"><b>All Lokets</b></a> | <a asp-controller="Product" asp-action="Bestsellers"><b>All Bestsellers</b></a>
                </p>
            </div>
        </div>

<section class="col-xs-12 col-md-12">

    <!--Phần này là form search-->
    <section class="col-xs-12 col-md-12 search-option">
        <form asp-controller="Product" asp-action="Lockets" class="input-group input-group-sm">
            <input class="form-control col-md-3" type="text" name="searchString" />
            <input class="btn btn-sm btn-dark btn-outline-secondary" type="submit" value="Search" />
            <a asp-controller="Product" asp-action="Lockets" style="color:black"><b>All Lockets</b></a>
        </form>
        <form asp-controller="Product" asp-action="Lockets" class="select">
            <select name="color" class="col-md-2">
                <option value="null">Color</option>
                @foreach (Color color in ViewBag.colors)
                {
                    <option value="@color.ColorId">@color.Name</option>
}
            </select>
            <select name="brand" class="col-md-2">
                <option value="null">Brand</option>
                @foreach (Brand brand in ViewBag.brands)
                {
                    <option value="@brand.BrandId">@brand.BrandName</option>
}
            </select>
            <select name="dim" class="col-md-2">
                <option value="null">Diamond</option>
                @foreach (Dim dim in ViewBag.dims)
                {
                    <option value="@dim.DimId">@dim.Name</option>
}
            </select>
            <select name="stone">
                <option value="null">Stone</option>
                @foreach (Stone stone in ViewBag.stones)
                {
                    <option value="@stone.StoneId">@stone.Name</option>
}
            </select>
            <select name="metal">
                <option value="null">Metal</option>
                @foreach (Metal metal in ViewBag.metals)
                {
                    <option value="@metal.MetalId">@metal.Name</option>
}
            </select>
            <input class="btn btn-sm btn-dark btn-outline-secondary filter" type="submit" value="Apply" />
        </form>

    </section>


    <!--Phần này là chỗ sắp xếp sản phẩm theo giá-->
    <div class="price">
    @if (ViewBag.order == "price")
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex" class="btn btn-outline-dark btn-sm"><i class="fas fa-sort-up">Price</i></a>
    }
    else if (ViewBag.order == "price_desc")
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex" class="btn btn-outline-dark btn-sm"><i class="fas fa-sort-down">Price</i></a>
    }
    else
    {
        <a asp-action="Lockets" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@Model.PageIndex" class="btn btn-outline-dark btn-sm"><i class="fas fa-sort">Price</i></a>
    }
</div>

</section>


<section class="col-xs-12 col-md-12">


    <div class="products_filter-show d-flex flex-row flex-wrap justify-content-center align-content-center col-xs-12 col-md-12">
        @foreach (var item in Model)
        {
            <div class="product col-xs-3 col-md-3">
                <div class="d-flex text-center align-items-center justify-content-center">
                    <a class="p-3 col-xs-12 col-md-12" asp-controller="Product" asp-action="Product_detail" asp-route-id="@item.PdId">

                        <div class="text-center">

                            <img src="~/Images/@item.Image" width="375" height="375" />

                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h3>
                            <span>
                                $@Html.DisplayFor(modelItem => item.Price)
                            </span>
                        </div>
                    </a>
                </div>
            </div>}
    </div>

    <!--Phần này là form phân trang-->
    <div class="pagination">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Lockets"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentColor="@ViewData["Color"]"
       asp-route-currentMetal="@ViewData["Metal"]"
       asp-route-currentBrand="@ViewData["Brand"]"
       asp-route-currentDim="@ViewData["Dim"]"
       asp-route-currentStone="@ViewData["Stone"]"
       class="btn-info btn btn-default @prevDisabled">
        Previous
    </a>

    @{
        double n = ViewBag.CountP;
        double s = ViewBag.pageSize;
        double sn = Math.Ceiling(n / s);

        for (int i = 1; i <= sn; i++)
        {
            if (Model.PageIndex == i)
            {
                <a class="active btn btn-dark btn-outline-secondary">@i</a>
            }
            else
            {
                <a class="btn btn-dark btn-outline-secondary" asp-action="Lockets" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentColor="@ViewData["Color"]" asp-route-currentMetal="@ViewData["Metal"]" asp-route-currentBrand="@ViewData["Brand"]" asp-route-currentDim="@ViewData["Dim"]" asp-route-currentStone="@ViewData["Stone"]" asp-route-pageNumber="@i">@i</a>
            }
        }
    }

    <a asp-action="Lockets"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentColor="@ViewData["Color"]"
       asp-route-currentMetal="@ViewData["Metal"]"
       asp-route-currentBrand="@ViewData["Brand"]"
       asp-route-currentDim="@ViewData["Dim"]"
       asp-route-currentStone="@ViewData["Stone"]"
       class="btn btn-dark btn-outline-secondary @nextDisabled">
        Next
    </a>
        </div>
</section>

<section>
    <div class="category-outro-block">
        <div class="inner">
            <h3><i><b>Lockets</b></i></h3>
            <p>
                We’re putting our best pieces forward. Elevate your everyday essentials with this radiant selection of five-star rated jewellery,
                including iconic designs and signature styles like our engravable photo lockets, gemstone Biography friendship bracelets, statement stacking rings
                and unique diamond jewellery. From old favourites to captivating new collections, explore meaningful jewellery gifts - whether you’re treating someone special or yourself,
                we can guarantee that these much-loved bestsellers will give any jewellery collection a new lease of life. Every piece of Astley Clarke jewellery is designed in our London studio,
                with emphasis on creating statement jewellery you can mix and match however, wherever and whenever you wish. We work exclusively with noble metals, natural ethically sourced diamonds
                and responsibly sourced gemstones, taking great care to craft our pieces so that they will last and be loved for years to come. Available with free global delivery and free returns for the UK,
                USA and Europe, plus luxury gift wrapping and free personalisation services.
            </p>
        </div>
    </div>
</section>