<environment>
    <link href="~/css/necklaces.css" rel="stylesheet" />
</environment>
<p>necklaces works!</p>
@model IEnumerable<ProjectTeamVitAspDotNetCore.Models.Product>

@{
    ViewData["Title"] = "Bracelets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bracelets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dim.DimId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.IdCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metal.MetalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stone.StoneId)
                </td>

            </tr>
        }
    </tbody>
</table>
