<environment>
    <link rel="stylesheet" href="~/css/product-detail.css" />
</environment>
<div class="product_detail container">
    <div class="row">
        <!-- !TODO: breadcrumb -->
        <section class="product_detail-breadcrumb col-xs-12 col-md-12">
            Home > Jewellery > Bracelets > <strong>Interstellar Diamond Bangle</strong>
        </section>

        <section class="product_detail-info col-xs-12 col-md-12">
            <div class="left col-xs-6 col-md-6">
                <div class="detail_img col-xs-8 col-md-8">
                    <img src="~/Images/@ViewBag.product.Image">
                </div>
            </div>
            <div class="right col-xs-6 col-md-6">
                <div class="name col-xs-12 col-md-12">
                    <h3>
                        Name:  @ViewBag.product.Name
                    </h3>
                    <h4>
                        Price:  $@ViewBag.product.Price
                    </h4>
                    <h4>
                        Code:  @ViewBag.product.PdId
                    </h4>
                    <h4>
                        Category:  @ViewBag.category.TypeName
                    </h4>
                    <h4>
                        Diamond:  @ViewBag.dim.Name
                    </h4>
                    <h4>
                        Stone:  @ViewBag.stone.Name
                    </h4>
                    <h4>
                        Color:  @ViewBag.color.Name
                    </h4>
                    <h4>
                        Brand:  @ViewBag.brand.BrandName
                    </h4>

                </div>
                <div class="description col-xs-12 col-md-12">
                    @ViewData["Descirption"]
                </div>
                <form asp-controller="cart" asp-action="buy" asp-route-id="@ViewBag.product.PdId">
                    <labe>Size: </label>
                    <input class="form-control" type="text" name="size" placeholder="Enter your size..." />
                    <input type="hidden" name="id" value="@ViewBag.product.PdId" />
                    <div class="action d-flex flex-column justify-content-center align-items-center col-xs-12 col-md-12">
                        <input type="submit" class="btn add_button col-xs-12 col-md-12" value="Buy Now"/>
                    </div>
                </form>


            </div>
        </section>

        <section class="product_detail-addon col-xs-12 col-md-12">
            <div class="left col-xs-6 col-md-6">
                <div class="delivery col-xs-12 col-md-12">

                    <h3 class="bg-dark text-center col-xs-12 col-md-12">DELIVERY & RETURNS</h3>
                    <div class="delivery_info">
                        <h4><i class="fas fa-truck"></i> <strong>FREE SHIPPING</strong> on all (Country) orders.</h4>
                        <ul>
                            <li>Sent by Express Courier (Air)</li>
                            <li>Up to 4 working days delivery time</li>
                        </ul>


                        <h4><i class="fas fa-exchange-alt"></i> <strong>FREE RETURNS*</strong></h4>
                        <ul>
                            <li>All items, including earrings, are returnable within 14 days of receipt.</li>
                            <li style="list-style: none; font-style: italic;">*Up to 4 working days delivery time</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right col-xs-6 col-md-6">
                <div class="options col-xs-12 col-md-12">
                    <h3 class="title text-center">
                        YOU MAY ALSO LIKE
                    </h3>
                    @foreach (Product product in ViewBag.productWithCategory)
                    {

        <a asp-controller="Product" asp-action="Product_detail" asp-route-id="@product.PdId" class="col-xs-4 col-md-4">
            <div class="text-center">
                <img src="~/Images/@product.Image"
                     class="one-edge-shadow">
                <h3 class="text-center">
                    @product.Name
                </h3>
            </div>
        </a>}
                </div>
            </div>
        </section>

    </div>
</div>