
@model ProjectTeamVitAspDotNetCore.Models.OrderDetail

<environment>
    <link rel="stylesheet" href="~/css/checkout.css" />
</environment>
<div class="container">
    <div class="row">
        <section class="checkout col-xs-12 col-md-12">
            <div class="checkout_info col-xs-12 col-md-12">
                <h2>SHOPPING BAG</h2>
                <h3>If you have any questions, please call: <span>+44 (0)20 7706 0060</span></h3>
                <strong>You are currently shipping to Vietnam.</strong>
                <a [routerLink]="['/']"> Shipping to a different country?</a>
            </div>

            <div class="checkout col-xs-12 col-md-12">
                <table class="table">

                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">Product Image</th>
                            <th class="text-center">Product Name</th>
                            <th>Product Price</th>
                            <th>Product Quantity</th>
                            <th>Product Total</th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.cart)
                    {
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <img class="col-xs-3 col-md-3"
                                         src="/Images/@item.Product.Image">
                                </td>
                                <td style="padding:65px 20px">
                                    <ul>
                                        <li>@item.Product.Name</li>
                                    </ul>
                                </td>
                                <td style="padding:77px 0">
                                    <span>@item.Product.Price</span>
                                </td>
                                <td  style="padding:77px 0">@item.Quantity</td>
                                <td  style="padding:77px 0">
                                    @(item.Product.Price * item.Quantity)
                                </td>
                            </tr>
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-end">Subtotal</td>
                            <td>@ViewBag.total</td>
                        </tr>

                        

                    </tfoot>
                    <input type="hidden" value="@ViewBag.total" />


                </table>
                <div class="d-flex justify-content-end text-center col-xs-12 col-md-12">
                        <div class="col-xs-5 col-md-5">
                            <div class="row text-white" style="background-color:black;height:50px">
                                <div class="col-xs-6 col-md-6" style="padding-top:13px">TOTAL</div>
                                <div class="col-xs-6 col-md-6" style="padding-top:13px">@ViewBag.total</div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-md-7">
                                <div class="">
                                        <div>
                                            <button class="btn checkout_button float-right" style="margin-right:-20px">
                                                <a asp-controller="Cart" asp-action="Checkout">Go to Checkout</a>
                                            </button>
                                        </div>
                                    <div class="float-right">
                                        <form asp-controller="Cart" asp-action="CheckoutPaypal" method="post">
                                            <input type="hidden" name="cart" value="@ViewBag.cart" />
                                            <input type="hidden" name="total" value="@ViewBag.total" />
                                            <div class="d-flex justify-content-end text-center">
                                                <div>
                                                    <button type="submit" class="btn checkout_button float-right" style="margin-right:10px">
                                                        Payment with Paypal
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>                             
                           
                        </div>                   
                </div>

                
            </div>
        </section>
    </div>
</div>

