@model IEnumerable<ProjectTeamVitAspDotNetCore.Models.Order>

@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListOrder</h1>



<form asp-controller="Account" asp-action="ListOrder">
    <input type="text" name="searchString" />
    <input type="submit" value="Search" />
    <a asp-controller="Account" asp-action="ListOrder">All</a>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="ListOrder" asp-route-sortOrder="@ViewData["DateSortParm"]">Create Time</a>
            </th>
            <th>
                Id
            </th>
            <th>
                Receiver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Status == false)
                {<a asp-action="EditOrder" asp-route-id="@item.Id">Edit</a>}

                <a asp-action="OrderDetails" asp-route-id="@item.Id">| Details |</a>
            </td>
        </tr>
        }
    </tbody>
</table>
