@model PaginatedList<ProjectTeamVitAspDotNetCore.Models.Order>

@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>List Order</h1>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="text-align:center">
                    <div class="card-header">
                        <div class="input-group input-group-sm">
                            <div class="navbar-search-block">
                                <form asp-controller="Account" asp-action="ListOrder" class="form-inline">
                                    <div class="input-group input-group-sm">
                                        <input name="searchString" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" style="overflow: visible; height: 33px; width: 400px">
                                        <div class="input-group-append">
                                            <button style="background-color:white;border: 1px solid #ced4da;" class="btn btn-navbar" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <a style="background-color:white;border: 1px solid #ced4da;" asp-controller="Account" class="btn btn-navbar" asp-action="ListOrder">All</a>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @if (ViewBag.order == "name")
                                        {
                                            <a asp-action="ListOrder" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort-alpha-down">&nbsp;Create Time</i></a>
                                        }
                                        else if (ViewBag.order == "name_desc")
                                        {
                                            <a asp-action="ListOrder" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort-alpha-up">&nbsp;Create Time</i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="ListOrder" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-filter">&nbsp;Create Time</i></a>
                                        }
                                    </th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>

                                        <td>
                                            @if (item.Status == false)
                                            {
                                                <a style="color:orange" asp-action="EditOrder" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> <span>|</span>;
                                            }
                                            <a style="color:green" asp-action="OrderDetails" asp-route-id="@item.Id"><i class="fas fa-file-alt"></i></a>

                                        </td>

                                    </tr>
                                    <tr>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <a class="right btn btn-success" asp-action="Profile">Go to Profile</a>
                        <div style="text-align:center;">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <tr>
                                <a asp-action="ListOrder"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn border-dark btn-default @prevDisabled">
                                    Previous
                                </a>
                                @{
                                    double n = ViewBag.Count;
                                    double s = ViewBag.pageSize;
                                    double sn = Math.Ceiling(n / s);

                                    for (int i = 1; i <= sn; i++)
                                    {
                                        if (Model.PageIndex == i)
                                        {
                                            <a style="background-color:gray;color:white" class="active btn btn-default border-dark">@i</a>
                                        }
                                        else
                                        {
                                            <a class="btn border-dark btn-default" asp-action="ListOrder" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@i">@i</a>
                                        }
                                    }
                                }


                                <a asp-action="ListOrder"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn border-dark btn-default @nextDisabled">
                                    Next
                                </a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
