@model ProjectTeamVitAspDotNetCore.Models.Stone

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Stone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneGm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneGm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneCrt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneCrt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoneAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoneAmt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
