@model ProjectTeamVitAspDotNetCore.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            Last Name :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            Birthday :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Zip Code :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            Avatar :
        </dt>
        <dd class = "col-sm-10">
           <img src="~/Images/@Html.DisplayFor(model => model.Avatar)" width="50" height="50"/>
        </dd>
        <dt class = "col-sm-2">
            Gender :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            Enable :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eable)
        </dd>
        <dt class = "col-sm-2">
            Permistion :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Email">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
