@model ProjectTeamVitAspDotNetCore.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content pb-3">
    <div class="container-fluid h-100">
        <div class="card card-row card-secondary">
            <div class="card-header">
                <div style="text-align:center">
                    <h2> @Html.DisplayFor(model => model.Fname) &nbsp; @Html.DisplayFor(model => model.Lname)</h2>
                </div>
            </div>
            <div class="card-body">

                <dl class="row">
                    <dt class="col-sm-2">
                        Email:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        Birthday:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Bdate)
                    </dd>
                    <dt class="col-sm-2">
                        Gender:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        Phone:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        Address:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        Zip Code:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        Avatar :
                    </dt>
                    <dd class="col-sm-10">
                       @ViewBag.user.Avatar"
                    </dd>
                    <dt class="col-sm-2">
                        Password:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-2">
                        Eable:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Eable)
                    </dd>
                    <dt class="col-sm-2">
                        Role:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdRole)
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="index" class="btn btn-success">Back To List</a>
</div>
