@model PaginatedList<ProjectTeamVitAspDotNetCore.Models.User>

@{
    ViewData["Title"] = "Permision";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="text-align:center">
                    <div class="card-header">
                        <div class="input-group input-group-sm">
                            <div class="navbar-search-block">
                                <form asp-controller="Permistion" asp-action="index" class="form-inline">
                                    <div class="input-group input-group-sm">
                                        <input name="searchString" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" style="overflow: visible; height: 33px; width: 400px">
                                        <div class="input-group-append">
                                            <button style="background-color:white;border: 1px solid #ced4da;" class="btn btn-navbar" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <a style="background-color:white;border: 1px solid #ced4da;" asp-controller="Permistion" class="btn btn-navbar" asp-action="index">All</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @if (ViewBag.order == "name")
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort-alpha-down">&nbsp;Name</i></a>
                                        }
                                        else if (ViewBag.order == "name_desc")
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort-alpha-up">&nbsp;Name</i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-filter">&nbsp;Name</i></a>
                                        }
                                    </th>
                                    <th>
                                        @if (ViewBag.order == "price")
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex"><i class="fas fa-sort-up">&nbsp;Birthday</i></a>
                                        }
                                        else if (ViewBag.order == "price_desc")
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort-down">&nbsp;Birthday</i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@Model.PageIndex "><i class="fas fa-sort">&nbsp;Birthday</i></a>
                                        }
                                    </th>
                                    <th>
                                        Email:
                                    </th>
                                    <th>
                                        Role:
                                    </th>
                                    <th>
                                        Eable:
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fname)&nbsp;
                                        @Html.DisplayFor(modelItem => item.Lname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdRole)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Eable)
                                    </td>
                                    <td>
                                        <a style="color:orange" asp-action="Edit" asp-route-id="@item.Email"><i class="fas fa-edit"></i></a> |
                                        <a style="color:green" asp-action="Details" asp-route-id="@item.Email"><i class="fas fa-file-alt"></i></a> |
                                    </td>

                                </tr>
                                    <tr>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div style="text-align:center;">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <tr>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn border-dark btn-default @prevDisabled">
                                    Previous
                                </a>


                                @{
                                    double n = ViewBag.Count;
                                    double s = ViewBag.pageSize;
                                    double sn = Math.Ceiling(n / s);

                                    for (int i = 1; i <= sn; i++)
                                    {
                                        if (Model.PageIndex == i)
                                        {
                                            <a style="background-color:gray;color:white" class="active btn btn-default border-dark">@i</a>
                                        }
                                        else
                                        {
                                            <a class="btn border-dark btn-default" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageNumber="@i">@i</a>
                                        }
                                    }
                                }


                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn border-dark btn-default @nextDisabled">
                                    Next
                                </a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
