@model IEnumerable<Project.Models.DimMst>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DimCrt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimPcs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimGm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimQlty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimSubType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StyleCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DimCrt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimPcs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimGm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimQlty.DimQltyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimSubType.DimSubTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StyleCodeNavigation.StyleCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StyleCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StyleCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StyleCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
